<!-- Footer -->
<footer class="container g-pt-100 g-pb-20">
  <div class="row">
    <div class="col-sm-6 col-lg-3 g-mb-30">
      <a class="d-inline-block mb-4" href="#!">
        <img class="g-width-100 g-height-auto" src="../../assets/img/logo/logo-1.png" alt="Image Description">
      </a>

      <p class="g-color-gray-dark-v4 g-font-size-13">2017 © All Rights Reserved.</p>
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">About</h3>

      <!-- Links -->
      <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">About</a>
        </li>
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Services</a>
        </li>
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Privacy &amp; Policy</a>
        </li>
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Terms &amp; Conditions</a>
        </li>
      </ul>
      <!-- End Links -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Contacts</h3>

      <!-- Links -->
      <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
        <li class="media mb-4">
          <i class="d-flex mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
          <div class="media-body">
            Unit 25 Suite 3, 925 Prospect
            <br>PI New York Avenue
          </div>
        </li>
        <li class="media mb-4">
          <i class="d-flex mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
          <div class="media-body">
            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">htmlstream@support.com</a>
          </div>
        </li>
        <li class="media mb-4">
          <i class="d-flex mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
          <div class="media-body">
            +32 333 444 555
          </div>
        </li>
      </ul>
      <!-- End Links -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Follow Us</h3>

      <!-- Links -->
      <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Facebook</a>
        </li>
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Twitter</a>
        </li>
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Dribbble</a>
        </li>
        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Linkedin</a>
        </li>
      </ul>
      <!-- End Links -->
    </div>
  </div>
</footer>
<!-- End Footer -->
