<!-- Header -->
<header id="js-header" class="u-header u-header--static">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
  <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
    <div class="container">
<!-- Responsive Toggle Button -->
  <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
  <span class="hamburger hamburger--slider">
  <span class="hamburger-box">
  <span class="hamburger-inner"></span>
  </span>
  </span>
  </button>
<!-- End Responsive Toggle Button -->

  <!-- Logo -->
  <a href="../../index.html" class="navbar-brand">
  <img src="" alt="Image Description">
  </a>
  <!-- End Logo -->

  <!-- Navigation -->
  <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
  <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
  <!-- Intro -->
  <li class="nav-item  g-mx-10--lg g-mx-15--xl">
  <a href="/posts/index.html" class="nav-link g-py-7 g-px-0">Intro</a>
  </li>
  <!-- End Intro -->
  <!-- Home -->
  <li class="hs-has-mega-menu nav-item active g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-max-width="60%" data-position="left">
  <a id="mega-menu-home" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Home
  <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i></a>

  <!-- Mega Menu -->
  <div class="w-100 hs-mega-menu u-shadow-v11 font-weight-normal g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-mt-18 g-mt-8--lg--scrolling" aria-labelledby="mega-menu-home">
    <div class="row align-items-stretch no-gutters">
      <!-- Home (col) -->
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li class="dropdown-item ">
            <a href="../../unify-main/home/home-default.html" class="nav-link">Home Default</a>
          </li>
          <li class="dropdown-item ">
            <a href="../../unify-main/home/home-page-1.html" class="nav-link">Home 1</a>
          </li>
          <li class="dropdown-item ">
            <a href="../../unify-main/home/home-page-2.html" class="nav-link">Home 2</a>
          </li>
        </ul>
      </div>
      <!-- End Home (col) -->
    </div>
  </div>
  <!-- End Mega Menu -->
  </li>
  <!-- End Home -->

  <!-- Pages -->
  <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
  <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Pages</a>

  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
    <!-- Pages - About -->
    <li class="dropdown-item hs-has-sub-menu ">
      <a id="nav-link--pages--about" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--about">About</a>

      <!-- Submenu (level 2) -->
      <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--about" aria-labelledby="nav-link--pages--about">
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-about-1.html">About 1</a>
        </li>
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-about-2.html">About 2</a>
        </li>
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-about-3.html">About 3</a>
        </li>
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-about-4.html">About 4</a>
        </li>

        <li class="dropdown-divider"></li>

        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-about-me-1.html">About me 1</a>
        </li>
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-about-me-2.html">About me 2</a>
        </li>
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-about-me-3.html">About me 3</a>
        </li>
      </ul>
      <!-- End Submenu (level 2) -->
    </li>
    <!-- End Pages - About -->

    <!-- Pages - Portfolios -->
    <li class="dropdown-item hs-has-sub-menu ">
      <a id="nav-link--pages--portfolio" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--portfolio">Portfolios</a>

      <!-- Submenu (level 2) -->
      <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--portfolio" aria-labelledby="nav-link--pages--portfolio">
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-portfolio-case-study-1.html">Case Studies 1</a>
        </li>
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-portfolio-case-study-2.html">Case Studies 2</a>
        </li>
        <li class="dropdown-item ">
          <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-1.html">Single item 1</a>
      </ul>
      <!-- End Submenu (level 2) -->
    </li>
    <!-- End Pages - Portfolios -->
    </li>
    <!-- End Pages - Login &amp; Signup -->
  </li>
  <!-- End Pages -->
</ul>
</div>
<!-- End Navigation -->
        <div class="d-inline-block g-hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
          <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream" target="_blank">Purchase now</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->
