<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- Promo Block - Parallax -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after " style="height: 130%; background-image: url(../../assets/img-temp/1920x1080/img4.jpg);"></div>

      <!-- Promo Block Content -->
      <div class="container u-bg-overlay__inner text-center g-py-150">
        <h2 class="h1 g-color-white g-font-weight-600 text-uppercase g-mb-30">Discover <span class="g-color-primary">New</span> Things</h2>

  </body>
</html>
