<!DOCTYPE html>
<html>
<head>
  <title>Creativity</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= render 'pages/nav' %>
<%= yield %>
<%= render 'pages/footer' %>
</body>
</html>
